*{
	margin: 0px;
	padding: 0px;
}
@font-face{
	font-family: "font";
	src:url('font.otf');
}
.preloader
{
	top: 200px;
	position: relative;
}
.buttons a{
	width:100%;
}
.activated
{
	background-color: white;
	z-index: : 99999;
	opacity: : 0.3;
	position: fixed;
	width: 100%;
	min-height: 100vh;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
body{
	font-family: "font";
	
	margin: 0px;
	padding: 0px;
	 display: flex;
    min-height: 100vh;
    flex-direction: column;
}


  .main {
    flex: 1 0 auto;
  }
.preloader{
	top:200px;
	position: relative;
}
.activated{
	background-color: white;
	z-index: 99999;
	opacity: 1;
	position: fixed;
	opacity: 0.3;
	width: 100%;
	min-height: 100vh;
	 -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}
.space-small{
	height: 20px;
}
.space-medium{
	height: 40px;
}
.space-large{
	height: 80px;
}
.space-vsmall{
	height: 10px;
}

.small{
	font-size: 0.6em;
}
.large{
	font-size: 1.3em;
}
.vlarge{
	font-size: 1.5em;
}
.right{
	float: right;
}
.left{
	float:left;
}
.margin-none{
	margin:0px;
}
.divider{
	height: 2px;
	background: black;
	margin-top: 2px;
}
.g-recaptcha{
	position: relative;
	margin: 0 auto;

}
header{
	height: 25vh;
	padding: 0px;
	margin: 0px;
	background-image: url('../images/header.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #004d40;
	background-size: contain;
}
.right{
	float: right;
}
.turn{
	display: flex;
	margin-top:0;
	margin: 0 auto;
	padding: auto;
	text-decoration: none;
}
.left{
	float: left;
}
.andLight{
	font-size: 18px;
	color: rgba(20,20,20,0.7);
}

.change{
	background: teak;
	text-align: center;
	font-size: 1.2em;
}
.anchor{
	font-size: 1.2em;
	padding: 10px 0;
}
.dynamic{
	position: relative;
	margin: 0px;

}
.container-fluid{
	width: 100%;
}
.half{
	width: 50%;
}
.nav-wrapper,.dark{
	background-color:rgb(0,38,31) !important;
	
}
.hide-on-med-and-down li{
	width: 33%;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.none{
	text-decoration: none;
	color: black;
	padding: 0px 3px 0 3px;
}
.full-width{
	width: 60%;
}
.myTable{

}
.date span{
	font-size: 0.9em;
}
.date input{
	width: 10%;
}
span{
	font-size: 1.2em;
	padding-bottom: 4px;

}
.nope{
	padding: 0px;
	margin: 0px;
}
.col-md-4{
	padding: 10px 0 0 0;
}
.col-2{
	width: 50%;
}
.col-3{
	width: 33.34%;
}
.padding{
	padding:20px 30px 20px 30px;
}

.category span{
		padding: 0px 10px 0px 10px;
	}
.modal-p{
	display: inline-block;
	width: 50%;
}
.modal-emp{
	display: inline-block;
	width: 33.3%;
}
.agreement span,.results_announced span{
	padding:0 10px 0 10px;
}
.results_announced p{
	font-size: 18px;
}

.admit .col p , .head{
	padding: 10px;
	font-size: 18px;
}
.first{
	color: red !important;
}
.border{
	border: 2px solid #80cbc4;
}
input.select-dropdown{
	color: #bdbdbd !important;
}
input.validate{
	color: #004d40 !important;
}
.inst{
	padding-left: 10%;
}
.inst ol li ul{
	padding-left: 5%;
}
.buttons a{
	width:100%;
}
.modal::-webkit-scrollbar-track,body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.modal::-webkit-scrollbar,body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.modal::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.searchbox{
    position:relative;
    min-width:50px;
    width:0%;
    height:50px;
    float:right;
    overflow:hidden;
    
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background:white;
    width:100%;
    height:50px;
    margin:0;
    padding:0px 55px 0px 20px;
    font-size:20px;
    color:teal;
}
.searchbox-input::-webkit-input-placeholder {
    color: teal;
}
.searchbox-input:-moz-placeholder {
    color: teal;
}
.searchbox-input::-moz-placeholder {
    color: teal;
}
.searchbox-input:-ms-input-placeholder {
    color: teal;
}

.searchbox-icon,
.searchbox-submit{
    width:50px;
    height:50px;
    display:block;
    position:absolute;
    top:0;
    font-family:verdana;
    font-size:22px;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:50px;
    text-align:center;
    cursor:pointer;
    color:#dcddd8
    background:white;
    
}


.box{
	padding: 10px 20px 10px 20px;
}
.box-a{
	position: relative;
	top: -5px;
	color: teal;

}

.searchbox-open{
    width:100%;
}
.js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center;
}
@media screen and (max-width: 480px) {
	.card-content span {
		font-size: 10px;	
	}
	.card{

	}
	.full-width{
		width: 90%;
	}
	.date span input{
		width: 20%;
	}
	.category span{
		padding: 1px;
	}
	header{
		background-image: url('../images/logo-white.png');
		background-size: contain;
	}
}